// Custom.scss
// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Include any default variable overrides here (though functions won't be available)
$enable-shadows: true;

$grape: #9f6ae3;
$wine: #663059;
$deepsea: #2f4057;

$starter: #417e92;
$business: #6f477b;
$enterprise: #3d4c76;

$dark-blue: #20324b;

$custom-theme-colors: (
  "white": $white,
  "starter": $starter,
  "business": $business,
  "enterprise": $enterprise,
  "dark-blue": $dark-blue,
);

$custom-spacers: (
  6: $spacer * 6,
  7: $spacer * 12,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$spacers: map-merge($spacers, $custom-spacers);

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
//background-image: var(--bs-gradient);
.card-subtitle {
  height: 4rem;
}

.card-price {
  height: 5rem;
}

body {
  @include gradient-y-three-colors($start-color: $grape, $mid-color: $wine, $end-color: $deepsea);
}
